<ion-app>

  <!-- Side Menu -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      This is the menu content.
    </ion-content>
  </ion-menu>

  <!-- Main Content Area -->
  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>My App Header</ion-title>

        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="main-content" [fullscreen]="true">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
      <ion-toolbar color="light">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button [routerLink]="['/clock']">
                <ion-icon name="time" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button [routerLink]="['/files']">
                <ion-icon name="albums" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button [routerLink]="['/person']">
              <ion-icon name="body" size="large"></ion-icon>
            </ion-button>
            </ion-col>
            <ion-col>
              <ion-button [routerLink]="['/calendar']">
              <ion-icon name="calendar" size="large"></ion-icon>
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>

  </div>
</ion-app>
