:host {
    display: block;
    height: 100%;
  }
  
  ion-header,
  ion-footer {
    z-index: 10;
  }
  
  .footer-title {
    font-size: 0.9rem;
    text-align: center;
  }
  
  .main-content {
    --padding-bottom: 60px;
  }

  ion-col {
    text-align: center;
  }